<div class="container">
<h1>Welcome to Ten Most Recent Tweets!</h1>

<h3>Please enter the username you would like to query: </h3>
<form id="enter_username" action="/username" method="post">
  <label>User handle: </label>
  <input type="text" name="handle" placeholder="Handle Here">
  <input type="submit" value="Submit">
</form>
  <div id="results">
  </div>
</div>